@{
    ViewBag.Title = "About";
}

<div class="v-section">
    <div class="row v-section-content">
        <div class="col-lg-12 text-center">
            <h1 class="display-3">About</h1>
            <h2 class="v-header">See Our Vision</h2>
            <blockquote class="blockquote">
                <p class="mb-0">
                    Push the boundaries with Veduari
                </p>
            </blockquote>
        </div>
    </div>
</div>

<div class="v-section-mini vedauritron">
    <div class="row v-section-content-mini">
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="card v-card text-center vedauritron">
                <div class="card-header">
                    Resolve
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        Dedicated Team
                    </h5>
                    <p class="card-text">
                        Do or do not - there is no try.
                    </p>
                </div>
                <div class="card-footer text-muted">
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="card v-card text-center vedauritron">
                <div class="card-header">
                    Quality
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        Best Practices
                    </h5>
                    <p class="card-text">
                        We deliver quality code that is fast and secure.
                    </p>
                </div>
                <div class="card-footer text-muted">
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="card v-card text-center vedauritron">
                <div class="card-header">
                    Focus
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        Your Vision
                    </h5>
                    <p class="card-text">
                        We focus on you and bring your vision to life.
                    </p>
                </div>
                <div class="card-footer text-muted">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="v-section vedauritron">
    <div class="row v-section-content">
        <div class="col-lg-12 text-center">
            <h1 class="display-3">Connect</h1>
            <h2 class="v-header">See if we're a good fit for you</h2>
            <blockquote class="blockquote">
                <p class="mb-0">
                    we believe your dev team should live and breath your vision to provide the best product possible.
                    We're a team of hard-working American developers with a passion for
                    problem solving and creating amazing products using code.
                    We strive to deliver 100% quality products that go above and beyond the world's expectations by
                    pushing the boundaries of our industry.
                </p>
            </blockquote>
        </div>
    </div>
</div>

<div class="v-section vedauritron">
    <div class="row v-section-content">
        <div class="col-lg-12 text-center">
            <h1 class="display-3">Personal</h1>
            <h2 class="v-header">Want to know more?</h2>
            <blockquote class="blockquote">
                <p class="mb-0">
                    Hit the button below to get in touch with our team.
                </p>
            </blockquote>
            @Html.ActionLink("Contact Us", "Contact", "Home", null, new { @class = "btn btn-lg btn-outline-light" })
        </div>
    </div>
</div>