
@{
    ViewBag.Title = "Website";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="v-section">
    <div class="row v-section-content">
        <div class="col-lg-12 text-center">
            <h1 class="display-3">Website</h1>
            <h2 class="v-header">Development and Maintenance</h2>
            <blockquote class="blockquote">
                <p class="mb-0">
                    Push the boundaries with Veduari
                </p>
            </blockquote>
        </div>
    </div>
</div>

<div class="v-section-mini vedauritron">
    <div class="row v-section-content-mini">
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="card v-card text-center vedauritron">
                <div class="card-header">
                    Any Device
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        100% Responsive Design
                    </h5>
                    <p class="card-text">
                        We craft flexible websites for any device.
                    </p>
                </div>
                <div class="card-footer text-muted">
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="card v-card text-center vedauritron">
                <div class="card-header">
                    Any Process
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        You're In Control
                    </h5>
                    <p class="card-text">
                        We develop using CMS or custom-code.
                    </p>
                </div>
                <div class="card-footer text-muted">
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="card v-card text-center vedauritron">
                <div class="card-header">
                    Any Kind
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        Design and Data
                    </h5>
                    <p class="card-text">
                        We develop <i>all</i> types of websites.
                    </p>
                </div>
                <div class="card-footer text-muted">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="v-section">
    <div class="row v-section-content">
        <div class="col-lg-12 text-center">
            <h1 class="display-3">Statistics</h1>
            <h2 class="v-header">Why Websites?</h2>
        </div>
    </div>
</div>

<div class="v-section vedauritron">
    <div class="row v-section-content">
        <div class="col-lg-12 text-center">
            <h2 class="v-header">Technology Evolves</h2>
            <blockquote class="blockquote">
                <p class="mb-0">
                    <ul style="list-style: none; padding-left: 0px; margin-left: 0px;">
                        <li>
                            91% of customers have visited a store because of an online experience.
                        </li>
                        <li>
                            80% of internet users own a smartphone. Responsive websites are a <i>must</i>.
                        </li>
                        <li>
                            Online Marketing is cheaper than other types of paid-marketing.
                        </li>
                        <li>
                            68% of consumers who conduct local searches go to a store within
                            24 hours and 49% make a purchase within the next 24 hours.
                        </li>
                    </ul>
                </p>
            </blockquote>
        </div>
    </div>
</div>

<div class="v-section vedauritron">
    <div class="row v-section-content">
        <div class="col-lg-12 text-center">
            <h1 class="display-3">Ready?</h1>
            <h2 class="v-header">Get Started</h2>
            <blockquote class="blockquote">
                <p class="mb-0">
                    Hit the button below and let's discuss your site today.
                </p>
            </blockquote>
            @Html.ActionLink("Contact Us", "Contact", "Home", null, new { @class = "btn btn-lg btn-outline-light" })
        </div>
    </div>
</div>